<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/tarefa.css">
    <title>Lista de Tarefas</title>
</head>
<body>
<!-- ================ Header ================ -->

    <header class="header">
        <div class="content-header">
            <div class="logo">
                <img src="./img/logo.png" alt="Logo">
            </div>
            <div class="nav">
                <a href="./index.html"><span>Log Out</span></a>
            </div>
        </div>
    </header>

<!-- ================ Lista de Tarefas ================ -->

    <main class="container">
        <section class="tarefa-container">
            <div class="btn-add">
                <a href="./cadastrar-tarefa.html"><button class="add-tarefa">Adicionar lista de tarefas</button></a>
            </div>
            <div class="lista-de-tarefas">
                <div class="title">
                    <h1>Minhas tarefas</h1>
                </div>
                <div class="tarefas-group" id="tarefas-group">
                    
                </div>
            </div>
        </section>
    </main>

    <footer class="container-footer">
        <div class="title-footer">
            <h1>Copyrith &copy 2026 <a href="https://christyassolini.github.io/Portif-lio/">Christyan Assolini</a>. Todos os direitos reservados.</h1>
        </div>
    </footer>
    <script src="./js/tarefa.js"></script>
</body>
</html>